<div class="row">
  <div class="col-md-12 content_border ">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">chalk up</h3>
      </div>
      <div class="panel-body">
        <div class="panel-body col-xs-6">
          <div class="thumbnail">
            <img src="<%= @climb.image %>" class="img-responsive pull-xs-left">
          </div>
        </div>
        <ul class="list-group pull-xs-right">
          <li class="list-group-item"><%=@climb.name%></li>
          <li class="list-group-item"><%=@climb.rating%></li>
          <li class="list-group-item"><% @climb.gear.split(", ").each do |gear| %>
              <%= gear %>
            <% end %>
          </li>
          <li class="list-group-item"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
