<div class="row">
  <div class="col-md-10 col-md-offset-1 content_border ">

  <div class="col-sm-6 col-md-4 ">
    <div class="thumbnail">
      <img src="<%= @climb.image %>" class="img-responsive img-fluid">
      <div class="caption">
        <h1 class="panel-title page-header">Name:<%=@climb.name%></h1>
        <p>Rating:<%= @climb.rating %></p>
        <p>Gear: </p>
        <div class="gear_list">

        <% @climb.gear.split(", ").each do |gear| %>
          <li> <%= gear %>  </li>
          <% end %>
        </div>

        <p><a href="#" class="btn btn-primary" role="button">update</a> <a href="#" class="btn btn-default" role="button">delete</a></p>
      </div>
    </div>


  </div>
</div>
</div>
