<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Climb Locations</h1>
      <div>
        <img class="img-responsive" src="http://www.mikeernst.net/wp-content/uploads/2012/03/SF_topo_big.jpg">
      </div>
    </div>
  </div>
</div>
