<div class="container-fluid">
  <script src="//maps.google.com/maps/api/js?v=3.25&key=AIzaSyDanasCjwdD12OrdXgITU17UK2BosIb6-g"></script>
  <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  <h1 id="splash"> Welcome to Chalk Up! </h1>
  <span><h5>Climb. Share. Discover.</h5></span>

  <div class="container-fluid">
    <div class="row" id="map" style='width:100%; height: 1000px;'></div>
  </div>
  <script type="text/javascript">
      handler = Gmaps.build('Google');
      handler.buildMap({
      provider: {
        scrollwheel: false,
        disableDefaultUI: false
        // pass in other Google Maps API options here
      },
      internal: {
        id: 'map'
      }
    },
    function(){
      handler.getMap().setZoom(15);
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
    });
  </script>
  <%= link_to "Add new Location!", new_climb_path(@climb), :class => "btn btn-primary" %>
  <% @climbs.each do |climb| %>
    <%= render :partial => 'climb', :locals => {:@climb => climb} %>
  <% end %>
</div>
