<div class="parallax-container">
<div class="parallax"><img src="https://s-media-cache-ak0.pinimg.com/736x/d4/a0/dc/d4a0dc66716bd6a501d85531b107feaa.jpg"></div>
<div class="col s3">
  <%= render 'form' %>
</div>

 </div>


<script>

  $(document).ready(function(){
      $('.parallax').parallax();
    });

 </script>