
    <div class="col-md-12">
      <div class="col-md-6">
        <span class="profile">
          <div class="profile_image">
            <img src="https://i.ytimg.com/vi/S6kNy0Kforo/maxresdefault.jpg" alt="" class="circle responsive-img" width="200" height="200"></img>
            <div><%= @user.image_url %></div>
          </div>

          <h1 class = "test"><%= @user.username  %> </h1>
          <p> Member since: <%=@user.created_at.strftime("%F")%> </p>
        </span>
      </div>
      <div class="col-md-6 ">
        <h1>Place I've climbed</h1>
        <div class="col-md-5 user_climb_list">
          <ul class = >
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>

          </ul>
        </div>
      </div>
    </div>
