
textarea.materialize-textarea{
      opacity: 0.2
    }

.form-field {
border-bottom: 1px solid black;
}

#login-btn {
margin-left: 33%;
margin-right: 33%;
background-color: #011936
}


#login_user{
margin-left: 20%;
margin-right: 20%;

}