<nav>
  <div class="nav-wrapper teal lighten-2">
    <a href="#" class="brand-logo center">Chalk Up</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down ">
      <%  @links.each.with_index do |link, i| %>
      <%= link_to @link_names[i], link, :class => "btn btn-default navbar-btn pull-right brown", :method => :get %>
      <%end %>
    </ul>
  </div>
</nav>
